In [1]:
import pandas as pd

## Read the vectors (centeroid) from Topmine->FastText->word2vec in 100 dimension

In [59]:
chunks=pd.read_table('./vectors.txt',chunksize=10000,sep=' ', header=None, index_col=False) #read it in chunks http://stackoverflow.com/a/26017289/2674061

merge chunks

In [60]:
df=pd.DataFrame()
df=pd.concat(chunks)

In [61]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,456748,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,385661,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,376859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,186229,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,114446,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.015873,-0.047978,-0.555125,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925

In [62]:
len(df)

1022180

In [63]:
df.rename(columns = {0:'CMPLID'},inplace=True) #http://stackoverflow.com/a/19758398/2674061

In [64]:
df.columns

Index(['CMPLID',        1,        2,        3,        4,        5,        6,
              7,        8,        9,
       ...
             91,       92,       93,       94,       95,       96,       97,
             98,       99,      100],
      dtype='object', length=101)

## add the ODINO column to vectors

In [35]:
import pandas as pd
import numpy as np
# alldata = pd.read_csv('./FLAT_CMPL.txt', sep='\t',index_col=False, low_memory=False, encoding = "ISO-8859-1", error_bad_lines=False, names = ["CMPLID","ODINO","MFR_NAME","MAKETXT","MODELTXT","YEARTXT","CRASH","FAILDATE","FIRE","INJURED","DEATHS","COMPDESC","CITY","STATE","VIN","DATEA","LDATE","MILES","OCCURENCES","CDESCR","CMPL_TYPE","POLICE_RPT_YN","PURCH_DT","ORIG_OWNER_YN","ANTI_BRAKES_YN","CRUISE_CONT_YN","NUM_CYLS","DRIVE_TRAIN","FUEL_SYS","FUEL_TYPE","TRANS_TYPE","VEH_SPEED","DOT","TIRE_SIZE","LOC_OF_TIRE","TIRE_FAIL_TYPE","ORIG_EQUIP_YN","MANUF_DT","SEAT_TYPE","RESTRAINT_TYPE","DEALER_NAME","DEALER_TEL","DEALER_CITY","DEALER_STATE","DEALER_ZIP","PROD_TYPE","REPAIRED_YN","MEDICAL_ATTN","VEHICLES_TOWED_YN"],dtype={'ODINO':np.int32})
alldata = pd.read_table('./FLAT_CMPL.txt', sep='\t',index_col=False, low_memory=False, encoding = "ISO-8859-1", error_bad_lines=False, names = ["CMPLID","ODINO","MFR_NAME","MAKETXT","MODELTXT","YEARTXT","CRASH","FAILDATE","FIRE","INJURED","DEATHS","COMPDESC","CITY","STATE","VIN","DATEA","LDATE","MILES","OCCURENCES","CDESCR","CMPL_TYPE","POLICE_RPT_YN","PURCH_DT","ORIG_OWNER_YN","ANTI_BRAKES_YN","CRUISE_CONT_YN","NUM_CYLS","DRIVE_TRAIN","FUEL_SYS","FUEL_TYPE","TRANS_TYPE","VEH_SPEED","DOT","TIRE_SIZE","LOC_OF_TIRE","TIRE_FAIL_TYPE","ORIG_EQUIP_YN","MANUF_DT","SEAT_TYPE","RESTRAINT_TYPE","DEALER_NAME","DEALER_TEL","DEALER_CITY","DEALER_STATE","DEALER_ZIP","PROD_TYPE","REPAIRED_YN","MEDICAL_ATTN","VEHICLES_TOWED_YN"],dtype={'ODINO':np.int32})

In [55]:
cmp_keys=alldata.filter(items=['CMPLID', 'ODINO','COMPDESC']) #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

In [56]:
cmp_keys.columns

Index(['CMPLID', 'ODINO', 'COMPDESC'], dtype='object')

In [65]:
df=pd.merge(df,cmp_keys,on='CMPLID')

In [66]:
df.head()

,CMPLID,1,2,3,4,5,6,7,8,9,...,93,94,95,96,97,98,99,100,ODINO,COMPDESC
0,456748,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10053038,STEERING:RACK AND PINION
1,385661,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9007157,EXTERIOR LIGHTING:BRAKE LIGHTS
2,376859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8016397,"FUEL SYSTEM, OTHER:STORAGE"
3,186229,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,851553,VEHICLE SPEED CONTROL
4,114446,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.555125,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925,528801,ENGINE AND ENGINE COOLING:ENGINE:GASOLINE

### convert the COMPDESC to numeric form

In [153]:
cmpdesc_unique=df.filter(items=['COMPDESC']) #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

In [212]:
cmpdesc_unique= cmpdesc_unique.COMPDESC.unique()

In [217]:
type(cmpdesc_unique)

numpy.ndarray

In [218]:
cmpdesc_unique[1:10]

array(['EXTERIOR LIGHTING:BRAKE LIGHTS', 'FUEL SYSTEM, OTHER:STORAGE',
       'VEHICLE SPEED CONTROL',
       'ENGINE AND ENGINE COOLING:ENGINE:GASOLINE',
       'POWER TRAIN:AUTOMATIC TRANSMISSION', 'TIRES', 'TIRES:TREAD/BELT',
       'ENGINE AND ENGINE COOLING:ENGINE', 'SEAT BELTS:FRONT:WEBBING'], dtype=object)

In [213]:
len(cmpdesc_unique )

409

In [96]:

cmpdesc_unique.head()

                                    COMPDESC
0                   STEERING:RACK AND PINION
1             EXTERIOR LIGHTING:BRAKE LIGHTS
2                 FUEL SYSTEM, OTHER:STORAGE
3                      VEHICLE SPEED CONTROL
4  ENGINE AND ENGINE COOLING:ENGINE:GASOLINE

### Below code for data frame, but later I unique the values which creates Series and below code is not required

In [219]:
#code for using over data frame
'''
dic_cmp_desc={}
for i, row in enumerate(cmpdesc_unique.values):
# #     idx=mapping_summary.index[i]
#     cmpdesc = str(row)[1:-1]
    cmpdesc = str(row)[2:-2]
#     dic_cmp_desc[str(cmpdesc)]=i
    dic_cmp_desc[cmpdesc]=i
#     print(type(cmpdesc),cmpdesc)
#     print(i,str(cmpdesc),dic_cmp_desc[str(cmpdesc)])
#     print(i,cmpdesc,dic_cmp_desc[cmpdesc])
#     if(i>10):
#         break
'''

'\ndic_cmp_desc={}\nfor i, row in enumerate(cmpdesc_unique.values):\n# #     idx=mapping_summary.index[i]\n#     cmpdesc = str(row)[1:-1]\n    cmpdesc = str(row)[2:-2]\n#     dic_cmp_desc[str(cmpdesc)]=i\n    dic_cmp_desc[cmpdesc]=i\n#     print(type(cmpdesc),cmpdesc)\n#     print(i,str(cmpdesc),dic_cmp_desc[str(cmpdesc)])\n#     print(i,cmpdesc,dic_cmp_desc[cmpdesc])\n#     if(i>10):\n#         break\n'

In [225]:
dic_cmp_desc={}
for i, row in enumerate(cmpdesc_unique):
#     print(i,row)
#     cmpdesc = str(row)[2:-2]
#     dic_cmp_desc[str(cmpdesc)]=i
    dic_cmp_desc[row]=i
#     print(type(cmpdesc),cmpdesc)
#     print(i,str(cmpdesc),dic_cmp_desc[str(cmpdesc)])
#     print(i,cmpdesc,dic_cmp_desc[cmpdesc])
#     if(i>10):
#         break

In [226]:
len(dic_cmp_desc)

409

In [205]:
for i, row in enumerate(dic_cmp_desc):
    print(i,row)

0 STEERING:RACK AND PINION

In [203]:
for x in dic_cmp_desc.keys():
#     val = dic_cmp_desc[x]
    print(x)

STEERING:RACK AND PINION

In [191]:
a='EXTERIOR LIGHTING:BRAKE LIGHTS'
if a in dic_cmp_desc:
    print(dic_cmp_desc[a])
# if a in d:
#     print(d[a])

1

In [231]:
a=df.head(10)

In [110]:
a

,CMPLID,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,ODINO,COMPDESC,comp_desc_id
0,456748,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10053038,STEERING:RACK AND PINION,STEERING:RACK AND PINION
1,385661,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9007157,EXTERIOR LIGHTING:BRAKE LIGHTS,EXTERIOR LIGHTING:BRAKE LIGHTS
2,376859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8016397,"FUEL SYSTEM, OTHER:STORAGE","FUEL SYSTEM, OTHER:STORAGE"
3,186229,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,851553,VEHICLE SPEED CONTROL,VEHICLE SPEED CONTROL
4,114446,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925,528801,ENGINE AND ENGINE COOLING:ENGINE:GASOLINE,ENGINE AND ENGINE COOLING:ENGINE:GASOLINE
5,113510,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925,521841,POWER TRAIN:AUTOMATIC TRANSMISSION,POWER TRAIN:AUTOMATIC TRANSMISSION
6,301210,0.349581,0.208407,-0.170888,-0.299682,-0.140342,0.042122,0.037456,0.408972,-0.091391,...,0.338183,0.280764,-0.065900,0.044839,0.097457,0.218280,0.021272,560947,TIRES,TIRES
7,301376,0.116113,-0.188769,-0.110760,-0.609887,-0.191231,0.300550,-0.150458,-0.057018,-0.381803,...,0.468367,0.230334,-0.331692,0.038271,0.684570,0.407337,-0.158587,888755,TIRES:TREAD/BELT,TIRES:TREAD/BELT
8,540134,0.431387,-0.333876,-0.327539,-0.379741,-0.450245,-0.056476,-0.145719,-0.189137,-0.313961,...,0.211789,0.305894,0.108341,0.097236,0.010828,-0.195379,0.189638,10119633,ENGINE AND ENGINE COOLING:ENGINE,ENGINE AND ENGINE COOLING:ENGINE
9,240522,0.300383,0.075589,-0.104108,-0.450810,-0.386936,0.040513,-0.159920,-0.148845,-0.254803,...,0.225667,0.241150,0.265549,-0.082155,-0.037562,-0.055817,0.132078,869617,SEAT BELTS:FRONT:WEBBING,SEAT BELTS:FRONT:WEBBING

In [234]:
# for i, row in enumerate(a.values):
# #     idx=mapping_summary.index[i]
#     cmpdesc = str(row)[1:-1]
#     print(row)
#     dic_cmp_desc[str(cmpdesc)]=i
#     dic_cmp_desc[cmpdesc]=i
#     print(type(cmpdesc),cmpdesc)

In [239]:
comp_desc_id=[]
for row in df['COMPDESC']:
#     print(row)
#     print(a.ix[i]['COMPDESC'])
#     tmp=dic_cmp_desc[str(row)]
    comp_desc_id.append(dic_cmp_desc[row])

In [240]:
comp_desc_id[1:20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 10, 11, 12, 13, 14, 7, 7, 7, 7]

In [241]:
len(comp_desc_id)

1015026

In [242]:
df['comp_desc_id']=comp_desc_id

In [243]:
df.head()

,CMPLID,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,ODINO,COMPDESC,comp_desc_id
0,456748,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10053038,STEERING:RACK AND PINION,0
1,385661,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9007157,EXTERIOR LIGHTING:BRAKE LIGHTS,1
2,376859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8016397,"FUEL SYSTEM, OTHER:STORAGE",2
3,186229,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,851553,VEHICLE SPEED CONTROL,3
4,114446,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925,528801,ENGINE AND ENGINE COOLING:ENGINE:GASOLINE,4

## Read the mapping table

In [8]:
mapping = pd.read_csv('./voq_map_filtered', sep=',',index_col=False, low_memory=False, encoding = "ISO-8859-1", error_bad_lines=False)

In [9]:
mapping.head()

,Unnamed: 0,voq.rowno,voq.odino,voq.ecode,voq.datea,voq.compdesc,voq.defect_id,fa.fa_id,fa.fa_path,fa.fa_label,fo.fo_id,fo.fo_path,fo.fo_label
0,1,1810,10003620,e53,20030113,air bags,7,990,00005/00990,Failure,12764,65/77/004/12764,"SBE, front"
1,123,68281,10060969,e46,20040227,air bags,34,624,00005/00527/00049/00624,Accidental activation,15450,72/12,Airbags
2,142,75256,10066641,e53,20040406,air bags,34,624,00005/00527/00049/00624,Accidental activation,15450,72/12,Airbags
3,170,93260,10079790,e46,20040701,tires,7,990,00005/00990,Failure,12764,65/77/004/12764,"SBE, front"
4,207,108798,10094713,e46,20040930,air bags:side/window,34,624,00005/00527/00049/00624,Accidental activation,15450,72/12,Airbags

#### filter the ODINO and fo_path columns from the Mapping table

In [10]:
mapping_summary=mapping.filter(items=['voq.odino', 'fo.fo_path']) #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

In [11]:
#http://stackoverflow.com/a/19758398/2674061
mapping_summary.rename(columns = {'voq.odino':'ODINO'},inplace=True) 
mapping_summary.rename(columns = {'fo.fo_path':'fo_path'},inplace=True)

In [12]:
mapping_summary.columns

Index(['ODINO', 'fo_path'], dtype='object')

In [13]:
mapping_summary.head()

      ODINO          fo_path
0  10003620  65/77/004/12764
1  10060969            72/12
2  10066641            72/12
3  10079790  65/77/004/12764
4  10094713            72/12

#### number of unique fo_path

In [14]:
#https://chrisalbon.com/python/pandas_list_unique_values_in_column.html
len(mapping_summary.fo_path.unique() )

394

In [15]:
# mapping_summary.fo_path.unique()

In [16]:
import re

In [17]:
# http://stackoverflow.com/a/32230237/2674061
# mapping_summary['L1'] = mapping_summary['fo_path'].str.split(('/'), expand=True)

In [18]:
# mapping_summary.head()

In [19]:
a='65/77/004/12764'

In [20]:
a.split('/')

['65', '77', '004', '12764']

In [21]:
# mapping_summary['L1'] = mapping_summary['fo_path'].str.split('../', expand=True)

In [22]:
# mapping_summary['L2'] = mapping_summary['fo_path'].str.split(('((\d)+/(\d)+)'), expand=True)

In [23]:
# mapping_summary['L3'] = mapping_summary['fo_path'].str.extract('(\d)+/(\d)+)', expand=True)

In [24]:
mapping_summary.head()

      ODINO          fo_path
0  10003620  65/77/004/12764
1  10060969            72/12
2  10066641            72/12
3  10079790  65/77/004/12764
4  10094713            72/12

In [25]:
# mapping_summary['L3'] = mapping_summary['fo_path'].str.extract('((\d)+/(\d)+/(\d)*))', expand=True)(\d)

In [247]:
mapping_summary['parts'] = mapping_summary['fo_path'].str.split('/')

In [248]:
mapping_summary.head()

      ODINO          fo_path                 parts
0  10003620  65/77/004/12764  [65, 77, 004, 12764]
1  10060969            72/12              [72, 12]
2  10066641            72/12              [72, 12]
3  10079790  65/77/004/12764  [65, 77, 004, 12764]
4  10094713            72/12              [72, 12]

In [28]:
lst1=[]
for i,row in enumerate(mapping_summary.values):
#     print(mapping_summary.ix[i])
    idx=mapping_summary.index[i]
    odino,fo_path,parts = row
    lst1.append((odino, parts[0]))

In [29]:
len(lst1)

15377

In [30]:
lst1[1:10]

[(10060969, '72'),
 (10066641, '72'),
 (10079790, '65'),
 (10094713, '72'),
 (10098379, '01930'),
 (10118617, '17838'),
 (10123825, '72'),
 (10128954, '65'),
 (10128936, '72')]

In [245]:
l1=pd.DataFrame(lst1,columns=['ODINO','L1'])

In [249]:
l1.head()

      ODINO  L1
0  10003620  65
1  10060969  72
2  10066641  72
3  10079790  65
4  10094713  72

## create L1 training data

In [250]:
train_L1=pd.merge(df,l1,on='ODINO')

In [251]:
train_L1.head()

,CMPLID,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,ODINO,COMPDESC,comp_desc_id,L1
0,1042649,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,...,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,10566324,ELECTRONIC STABILITY CONTROL,48,34
1,1042649,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,...,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,10566324,ELECTRONIC STABILITY CONTROL,48,34
2,1042649,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,...,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,10566324,ELECTRONIC STABILITY CONTROL,48,34
3,1042648,-0.004839,-0.373360,0.754713,0.272901,-0.322312,-0.197168,-0.312100,-0.187853,0.207566,...,0.263224,0.265058,-0.487920,-0.005418,0.052286,0.071508,10566324,SERVICE BRAKES,42,34
4,1042648,-0.004839,-0.373360,0.754713,0.272901,-0.322312,-0.197168,-0.312100,-0.187853,0.207566,...,0.263224,0.265058,-0.487920,-0.005418,0.052286,0.071508,10566324,SERVICE BRAKES,42,34

In [54]:
#https://chrisalbon.com/python/pandas_list_unique_values_in_column.html
len(train_L1.ODINO.unique() )

10393