In [1]:
import pandas as pd

## Read the vectors (centeroid) from Topmine->FastText->word2vec in 100 dimension

In [2]:
chunks=pd.read_table('./vectors.txt',chunksize=10000,sep=' ', header=None, index_col=False) #read it in chunks http://stackoverflow.com/a/26017289/2674061

merge chunks

In [3]:
df=pd.DataFrame()
df=pd.concat(chunks)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,456748,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,385661,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,376859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,186229,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,114446,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.015873,-0.047978,-0.555125,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925

In [5]:
len(df)

1022180

In [6]:
df.rename(columns = {0:'CMPLID'},inplace=True) #http://stackoverflow.com/a/19758398/2674061

In [7]:
df.columns

Index(['CMPLID',        1,        2,        3,        4,        5,        6,
              7,        8,        9,
       ...
             91,       92,       93,       94,       95,       96,       97,
             98,       99,      100],
      dtype='object', length=101)

## add the ODINO column to vectors

In [8]:
import pandas as pd
import numpy as np
# alldata = pd.read_csv('./FLAT_CMPL.txt', sep='\t',index_col=False, low_memory=False, encoding = "ISO-8859-1", error_bad_lines=False, names = ["CMPLID","ODINO","MFR_NAME","MAKETXT","MODELTXT","YEARTXT","CRASH","FAILDATE","FIRE","INJURED","DEATHS","COMPDESC","CITY","STATE","VIN","DATEA","LDATE","MILES","OCCURENCES","CDESCR","CMPL_TYPE","POLICE_RPT_YN","PURCH_DT","ORIG_OWNER_YN","ANTI_BRAKES_YN","CRUISE_CONT_YN","NUM_CYLS","DRIVE_TRAIN","FUEL_SYS","FUEL_TYPE","TRANS_TYPE","VEH_SPEED","DOT","TIRE_SIZE","LOC_OF_TIRE","TIRE_FAIL_TYPE","ORIG_EQUIP_YN","MANUF_DT","SEAT_TYPE","RESTRAINT_TYPE","DEALER_NAME","DEALER_TEL","DEALER_CITY","DEALER_STATE","DEALER_ZIP","PROD_TYPE","REPAIRED_YN","MEDICAL_ATTN","VEHICLES_TOWED_YN"],dtype={'ODINO':np.int32})
alldata = pd.read_table('./FLAT_CMPL.txt', sep='\t',index_col=False, low_memory=False, encoding = "ISO-8859-1", error_bad_lines=False, names = ["CMPLID","ODINO","MFR_NAME","MAKETXT","MODELTXT","YEARTXT","CRASH","FAILDATE","FIRE","INJURED","DEATHS","COMPDESC","CITY","STATE","VIN","DATEA","LDATE","MILES","OCCURENCES","CDESCR","CMPL_TYPE","POLICE_RPT_YN","PURCH_DT","ORIG_OWNER_YN","ANTI_BRAKES_YN","CRUISE_CONT_YN","NUM_CYLS","DRIVE_TRAIN","FUEL_SYS","FUEL_TYPE","TRANS_TYPE","VEH_SPEED","DOT","TIRE_SIZE","LOC_OF_TIRE","TIRE_FAIL_TYPE","ORIG_EQUIP_YN","MANUF_DT","SEAT_TYPE","RESTRAINT_TYPE","DEALER_NAME","DEALER_TEL","DEALER_CITY","DEALER_STATE","DEALER_ZIP","PROD_TYPE","REPAIRED_YN","MEDICAL_ATTN","VEHICLES_TOWED_YN"],dtype={'ODINO':np.int32})

In [9]:
alldata.columns

Index(['CMPLID', 'ODINO', 'MFR_NAME', 'MAKETXT', 'MODELTXT', 'YEARTXT',
       'CRASH', 'FAILDATE', 'FIRE', 'INJURED', 'DEATHS', 'COMPDESC', 'CITY',
       'STATE', 'VIN', 'DATEA', 'LDATE', 'MILES', 'OCCURENCES', 'CDESCR',
       'CMPL_TYPE', 'POLICE_RPT_YN', 'PURCH_DT', 'ORIG_OWNER_YN',
       'ANTI_BRAKES_YN', 'CRUISE_CONT_YN', 'NUM_CYLS', 'DRIVE_TRAIN',
       'FUEL_SYS', 'FUEL_TYPE', 'TRANS_TYPE', 'VEH_SPEED', 'DOT', 'TIRE_SIZE',
       'LOC_OF_TIRE', 'TIRE_FAIL_TYPE', 'ORIG_EQUIP_YN', 'MANUF_DT',
       'SEAT_TYPE', 'RESTRAINT_TYPE', 'DEALER_NAME', 'DEALER_TEL',
       'DEALER_CITY', 'DEALER_STATE', 'DEALER_ZIP', 'PROD_TYPE', 'REPAIRED_YN',
       'MEDICAL_ATTN', 'VEHICLES_TOWED_YN'],
      dtype='object')

In [10]:
cmp_keys=alldata.filter(items=['CMPLID', 'ODINO','COMPDESC','FAILDATE']) #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

In [11]:
cmp_keys.columns

Index(['CMPLID', 'ODINO', 'COMPDESC', 'FAILDATE'], dtype='object')

In [12]:
df=pd.merge(df,cmp_keys,on='CMPLID')

In [13]:
df.head()

,CMPLID,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,ODINO,COMPDESC,FAILDATE
0,456748,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10053038,STEERING:RACK AND PINION,20031223.0
1,385661,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9007157,EXTERIOR LIGHTING:BRAKE LIGHTS,NaN
2,376859,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8016397,"FUEL SYSTEM, OTHER:STORAGE",20020808.0
3,186229,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,851553,VEHICLE SPEED CONTROL,19990602.0
4,114446,0.279541,0.263423,0.104596,-0.395094,-0.547253,-0.178229,-0.282684,-0.292041,0.177561,...,-0.042998,0.146759,0.266276,-0.079415,0.361403,-0.167115,-0.023925,528801,ENGINE AND ENGINE COOLING:ENGINE:GASOLINE,NaN

In [14]:
type(df['FAILDATE'])

pandas.core.series.Series

In [15]:
df_after_2005=df[df['FAILDATE'] >20050000]

In [16]:
len(df_after_2005)

602303

In [17]:
df=df_after_2005

In [18]:
df = df.drop("FAILDATE",1)

### convert the COMPDESC to numeric form

In [19]:
cmpdesc_unique=df.filter(items=['COMPDESC']) #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

In [20]:
cmpdesc_unique= cmpdesc_unique.COMPDESC.unique()

In [21]:
type(cmpdesc_unique)

numpy.ndarray

In [22]:
cmpdesc_unique[1:10]

array(['EXTERIOR LIGHTING', 'ELECTRICAL SYSTEM',
       'STEERING:LINKAGES:TIE ROD ASSEMBLY', 'STEERING', 'POWER TRAIN',
       'ENGINE AND ENGINE COOLING:ENGINE', 'VEHICLE SPEED CONTROL',
       'AIR BAGS', 'EXTERIOR LIGHTING:HEADLIGHTS'], dtype=object)

In [23]:
len(cmpdesc_unique )

404

In [24]:
# cmpdesc_unique.head()

### Below code for data frame, but later I unique the values which creates Series and below code is not required

In [25]:
#code for using over data frame
'''
dic_cmp_desc={}
for i, row in enumerate(cmpdesc_unique.values):
# #     idx=mapping_summary.index[i]
#     cmpdesc = str(row)[1:-1]
    cmpdesc = str(row)[2:-2]
#     dic_cmp_desc[str(cmpdesc)]=i
    dic_cmp_desc[cmpdesc]=i
#     print(type(cmpdesc),cmpdesc)
#     print(i,str(cmpdesc),dic_cmp_desc[str(cmpdesc)])
#     print(i,cmpdesc,dic_cmp_desc[cmpdesc])
#     if(i>10):
#         break
'''

'\ndic_cmp_desc={}\nfor i, row in enumerate(cmpdesc_unique.values):\n# #     idx=mapping_summary.index[i]\n#     cmpdesc = str(row)[1:-1]\n    cmpdesc = str(row)[2:-2]\n#     dic_cmp_desc[str(cmpdesc)]=i\n    dic_cmp_desc[cmpdesc]=i\n#     print(type(cmpdesc),cmpdesc)\n#     print(i,str(cmpdesc),dic_cmp_desc[str(cmpdesc)])\n#     print(i,cmpdesc,dic_cmp_desc[cmpdesc])\n#     if(i>10):\n#         break\n'

In [26]:
dic_cmp_desc={}
for i, row in enumerate(cmpdesc_unique):
#     print(i,row)
#     cmpdesc = str(row)[2:-2]
#     dic_cmp_desc[str(cmpdesc)]=i
    dic_cmp_desc[row]=i
#     print(type(cmpdesc),cmpdesc)
#     print(i,str(cmpdesc),dic_cmp_desc[str(cmpdesc)])
#     print(i,cmpdesc,dic_cmp_desc[cmpdesc])
#     if(i>10):
#         break

In [27]:
len(dic_cmp_desc)

404

In [28]:
for i, row in enumerate(dic_cmp_desc):
    print(i,row)
    if(i>10):
        break

0 nan
1 ENGINE AND ENGINE COOLING:EXHAUST SYSTEM:MANIFOLD/HEADER/MUFFLER/TAIL PIPE
2 SUSPENSION:MULTIPLE AXLE
3 SERVICE BRAKES, AIR:DISC:CHAMBER
4 LANE DEPARTURE: BLIND SPOT DETECTION
5 ENGINE AND ENGINE COOLING:ENGINE:GASOLINE:TURBO-CHARGER
6 EQUIPMENT:RECREATIONAL VEHICLE
7 POWER TRAIN:AUTOMATIC TRANSMISSION:TORQUE CONVERTER
8 EXTERIOR LIGHTING:TURN SIGNAL
9 FUEL SYSTEM, OTHER:DELIVERY:FUEL PUMP
10 STEERING:LINKAGES
11 ENGINE AND ENGINE COOLING:COOLING SYSTEM:RADIATOR ASSEMBLY

In [29]:
# for x in dic_cmp_desc.keys():
#     val = dic_cmp_desc[x]
#     print(x)        #for dubug uncomment this line

In [30]:
a='EXTERIOR LIGHTING:BRAKE LIGHTS'
if a in dic_cmp_desc:
    print(dic_cmp_desc[a])
# if a in d:
#     print(d[a])

139

In [31]:
# a=df.head(10)

In [32]:
# a

In [33]:
# for i, row in enumerate(a.values):
# #     idx=mapping_summary.index[i]
#     cmpdesc = str(row)[1:-1]
#     print(row)
#     dic_cmp_desc[str(cmpdesc)]=i
#     dic_cmp_desc[cmpdesc]=i
#     print(type(cmpdesc),cmpdesc)

In [34]:
comp_desc_id=[]
for row in df['COMPDESC']:
#     print(row)
#     print(a.ix[i]['COMPDESC'])
#     tmp=dic_cmp_desc[str(row)]
    comp_desc_id.append(dic_cmp_desc[row])

In [83]:
comp_desc_id[1:20]

[1, 2, 3, 4, 5, 6, 7, 5, 8, 2, 2, 9, 10, 11, 12, 13, 14, 8, 11]

In [84]:
len(comp_desc_id)

602303

In [95]:
min_value = min(comp_desc_id)
max_value = max(comp_desc_id)
print('min value before:%d' % min_value)
print('max value before:%d' % max_value)

comp_desc_id_scaled=[]

for row in comp_desc_id:
    comp_desc_id_scaled.append( (row - min_value)/(max_value - min_value) )
    

    
print('min value after:%d' % min(comp_desc_id_scaled))
print('max value after:%d' % max(comp_desc_id_scaled))

min value before:0
max value before:403
min value after:0
max value after:1

#### comp_desc_id should be normalized

In [96]:
df['comp_desc_id']=comp_desc_id_scaled

In [97]:
len(df)

602303

In [99]:
df.head()

,CMPLID,1,2,3,4,5,6,7,8,9,...,94,95,96,97,98,99,100,ODINO,COMPDESC,comp_desc_id
11,672784,0.240301,0.040469,-0.241411,-0.423423,-0.318242,0.020620,0.135733,-0.097865,-0.369228,...,0.131405,-0.014125,-0.045160,-0.015071,-0.041557,0.213869,0.023100,10225820,ELECTRICAL SYSTEM:IGNITION,0.000000
12,696668,0.253811,-0.039038,-0.310773,-0.401073,-0.122986,-0.040100,-0.078501,-0.007027,-0.144336,...,0.190260,0.249070,0.188204,0.012993,-0.041436,-0.062629,0.120601,10245257,EXTERIOR LIGHTING,0.002481
14,1215488,0.284717,0.270654,-0.012842,-0.401517,-0.538466,-0.051798,-0.201790,-0.138203,0.377546,...,-0.176188,0.236951,0.218079,-0.194566,0.470594,-0.206242,-0.014044,10760844,ELECTRICAL SYSTEM,0.004963
53,524664,0.295829,-0.052278,-0.069486,-0.747175,-0.466575,-0.451943,-0.292682,0.153607,-0.031511,...,0.224925,0.163774,0.123745,-0.517694,0.316205,0.144381,0.383255,10108548,STEERING:LINKAGES:TIE ROD ASSEMBLY,0.007444
58,811382,0.192729,-0.019037,-0.282743,-0.485621,-0.080791,-0.048456,0.069818,-0.078325,-0.114975,...,0.141354,0.183732,0.056628,0.009870,0.108594,-0.008479,0.081730,10351315,STEERING,0.009926

## Read the mapping table

In [100]:
mapping = pd.read_csv('./voq_map_filtered', sep=',',index_col=False, low_memory=False, encoding = "ISO-8859-1", error_bad_lines=False)

In [101]:
mapping.head()

,Unnamed: 0,voq.rowno,voq.odino,voq.ecode,voq.datea,voq.compdesc,voq.defect_id,fa.fa_id,fa.fa_path,fa.fa_label,fo.fo_id,fo.fo_path,fo.fo_label
0,1,1810,10003620,e53,20030113,air bags,7,990,00005/00990,Failure,12764,65/77/004/12764,"SBE, front"
1,123,68281,10060969,e46,20040227,air bags,34,624,00005/00527/00049/00624,Accidental activation,15450,72/12,Airbags
2,142,75256,10066641,e53,20040406,air bags,34,624,00005/00527/00049/00624,Accidental activation,15450,72/12,Airbags
3,170,93260,10079790,e46,20040701,tires,7,990,00005/00990,Failure,12764,65/77/004/12764,"SBE, front"
4,207,108798,10094713,e46,20040930,air bags:side/window,34,624,00005/00527/00049/00624,Accidental activation,15450,72/12,Airbags

#### filter the ODINO and fo_path columns from the Mapping table

In [102]:
mapping_summary=mapping.filter(items=['voq.odino', 'fo.fo_path']) #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.filter.html

In [103]:
#http://stackoverflow.com/a/19758398/2674061
mapping_summary.rename(columns = {'voq.odino':'ODINO'},inplace=True) 
mapping_summary.rename(columns = {'fo.fo_path':'fo_path'},inplace=True)

In [104]:
mapping_summary.columns

Index(['ODINO', 'fo_path'], dtype='object')

In [105]:
mapping_summary.head()

      ODINO          fo_path
0  10003620  65/77/004/12764
1  10060969            72/12
2  10066641            72/12
3  10079790  65/77/004/12764
4  10094713            72/12

#### number of unique fo_path

In [106]:
#https://chrisalbon.com/python/pandas_list_unique_values_in_column.html
len(mapping_summary.fo_path.unique() )

394

In [107]:
# mapping_summary.fo_path.unique()

In [108]:
import re

In [109]:
# http://stackoverflow.com/a/32230237/2674061
# mapping_summary['L1'] = mapping_summary['fo_path'].str.split(('/'), expand=True)

In [110]:
# mapping_summary.head()

In [111]:
a='65/77/004/12764'

In [112]:
a.split('/')

['65', '77', '004', '12764']

In [113]:
# mapping_summary['L1'] = mapping_summary['fo_path'].str.split('../', expand=True)

In [114]:
# mapping_summary['L2'] = mapping_summary['fo_path'].str.split(('((\d)+/(\d)+)'), expand=True)

In [115]:
# mapping_summary['L3'] = mapping_summary['fo_path'].str.extract('(\d)+/(\d)+)', expand=True)

In [116]:
mapping_summary.head()

      ODINO          fo_path
0  10003620  65/77/004/12764
1  10060969            72/12
2  10066641            72/12
3  10079790  65/77/004/12764
4  10094713            72/12

In [117]:
# mapping_summary['L3'] = mapping_summary['fo_path'].str.extract('((\d)+/(\d)+/(\d)*))', expand=True)(\d)

In [118]:
mapping_summary['parts'] = mapping_summary['fo_path'].str.split('/')

In [119]:
# mapping_summary.head(20)

In [120]:
unique_l1={}
lst1=[]
for i,row in enumerate(mapping_summary.values):
#     print(mapping_summary.ix[i])
    idx=mapping_summary.index[i]
    odino,fo_path,parts = row
    lst1.append((odino, parts[0]))
    unique_l1[parts[0]]=''

In [121]:
len(unique_l1)

49

##### check the unique lables in L1

In [122]:
# for i in unique_l1.items():
#     print(i)

###### debug info

In [123]:
# len(lst1)

In [124]:
# lst1[1:20]

In [125]:
l1=pd.DataFrame(lst1,columns=['ODINO','L1'])

In [126]:
l1.head()

      ODINO  L1
0  10003620  65
1  10060969  72
2  10066641  72
3  10079790  65
4  10094713  72

## create L1 training data

In [127]:
train_L1=pd.merge(df,l1,on='ODINO')

In [128]:
train_L1.head()

,CMPLID,1,2,3,4,5,6,7,8,9,...,95,96,97,98,99,100,ODINO,COMPDESC,comp_desc_id,L1
0,1042649,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,...,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,10566324,ELECTRONIC STABILITY CONTROL,0.039702,34
1,1042649,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,...,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,10566324,ELECTRONIC STABILITY CONTROL,0.039702,34
2,1042649,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,...,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,10566324,ELECTRONIC STABILITY CONTROL,0.039702,34
3,1042648,-0.004839,-0.373360,0.754713,0.272901,-0.322312,-0.197168,-0.312100,-0.187853,0.207566,...,0.263224,0.265058,-0.487920,-0.005418,0.052286,0.071508,10566324,SERVICE BRAKES,0.029777,34
4,1042648,-0.004839,-0.373360,0.754713,0.272901,-0.322312,-0.197168,-0.312100,-0.187853,0.207566,...,0.263224,0.265058,-0.487920,-0.005418,0.052286,0.071508,10566324,SERVICE BRAKES,0.029777,34

In [129]:
#https://chrisalbon.com/python/pandas_list_unique_values_in_column.html
len(train_L1.ODINO.unique() )

10245

In [130]:
len(train_L1)

16547

### remove useless columns

In [131]:
# http://stackoverflow.com/a/18145399/2674061
train_L1 = train_L1.drop("CMPLID",1)
train_L1 = train_L1.drop("ODINO",1)
train_L1 = train_L1.drop("COMPDESC",1)

In [72]:
train_L1.columns

Index([             1,              2,              3,              4,
                    5,              6,              7,              8,
                    9,             10,
       ...
                   93,             94,             95,             96,
                   97,             98,             99,            100,
       'comp_desc_id',           'L1'],
      dtype='object', length=102)

In [132]:
train_L1.head()

,1,2,3,4,5,6,7,8,9,10,...,93,94,95,96,97,98,99,100,comp_desc_id,L1
0,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,-0.494990,...,-0.280367,-0.090935,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,0.039702,34
1,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,-0.494990,...,-0.280367,-0.090935,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,0.039702,34
2,0.118763,0.544907,-0.102826,-1.201483,-0.378267,-0.281807,0.224272,-0.264937,-0.170182,-0.494990,...,-0.280367,-0.090935,-0.187273,-0.234017,-0.043267,0.398510,0.527573,-0.010714,0.039702,34
3,-0.004839,-0.373360,0.754713,0.272901,-0.322312,-0.197168,-0.312100,-0.187853,0.207566,0.686602,...,-1.271248,-0.215866,0.263224,0.265058,-0.487920,-0.005418,0.052286,0.071508,0.029777,34
4,-0.004839,-0.373360,0.754713,0.272901,-0.322312,-0.197168,-0.312100,-0.187853,0.207566,0.686602,...,-1.271248,-0.215866,0.263224,0.265058,-0.487920,-0.005418,0.052286,0.071508,0.029777,34

In [133]:
len(train_L1)

16547

In [134]:
train_L1_data=train_L1
train_L1_data=train_L1_data.drop("L1",1)
train_L1_data.columns

Index([             1,              2,              3,              4,
                    5,              6,              7,              8,
                    9,             10,
       ...
                   92,             93,             94,             95,
                   96,             97,             98,             99,
                  100, 'comp_desc_id'],
      dtype='object', length=101)

In [238]:
real_lbl=train_L1['L1']

In [239]:
real_lbl.head()

0    34
1    34
2    34
3    34
4    34
Name: L1, dtype: object

In [248]:
unique_l1=train_L1['L1'].value_counts().index[:]

In [250]:
unique_l1

Index(['65', '00013', '01913', '32', '11', '72', '51', '01930', '01947', '61',
       '36', '16', '62', '34', '63', '13', '17838', '33', '46', '64', '24',
       '41', '31', '12', '22', '27', '17', '54', '25', '01923', '23', '18',
       '52', '66', '02069', '01364', '02093', '37', '01925', '35', '01533',
       '02288', '26', '01892', '71', '76', '82', '21', '83'],
      dtype='object')

In [231]:
train_L1['L1'].value_counts().mean()

337.6938775510204

In [233]:
type(unique_l1)

str

In [251]:
train_lbls=[]
for i,row in enumerate(unique_l1):
    train_lbls.append([])
    print(i,row)

for i,org_lbl in enumerate(unique_l1):
    for c_lbl in real_lbl:
        if(c_lbl == org_lbl):   #the label we are interested for this class
            train_lbls[i].append(1)
        else:                        #other classes (majority class)
            train_lbls[i].append(-1)

0 65
1 00013
2 01913
3 32
4 11
5 72
6 51
7 01930
8 01947
9 61
10 36
11 16
12 62
13 34
14 63
15 13
16 17838
17 33
18 46
19 64
20 24
21 41
22 31
23 12
24 22
25 27
26 17
27 54
28 25
29 01923
30 23
31 18
32 52
33 66
34 02069
35 01364
36 02093
37 37
38 01925
39 35
40 01533
41 02288
42 26
43 01892
44 71
45 76
46 82
47 21
48 83

In [252]:
train_L1['L1'].value_counts().mean()

337.6938775510204

In [253]:
train_L1['L1'].value_counts().std()

669.8489321009139

In [255]:
for i,row in enumerate(unique_l1):
    print('i:%d ,len lbl[%s]:%d, sum:%d' % (i, row, len(train_lbls[i]), sum(train_lbls[i])))
    if(i>5): break

i:0 ,len lbl[65]:16547, sum:-10103
i:1 ,len lbl[00013]:16547, sum:-10835
i:2 ,len lbl[01913]:16547, sum:-13477
i:3 ,len lbl[32]:16547, sum:-13777
i:4 ,len lbl[11]:16547, sum:-14201
i:5 ,len lbl[72]:16547, sum:-14509
i:6 ,len lbl[51]:16547, sum:-15177

## save the file in petsc binary format

In [146]:
import sys
from sys import argv,exit,path
from os import environ
import scipy.sparse
import PetscBinaryIO
from scipy import sparse

In [76]:
file_path='./'
file_name='bmw_uniq_cmpl'

In [148]:
tl1data=train_L1_data.as_matrix() #http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.as_matrix.html
tl1data = sparse.csr_matrix(tl1data)
print(type(tl1data))

<class 'scipy.sparse.csr.csr_matrix'>

In [151]:
try:
    result_outputfile = file_path+ file_name + '_zsc_data.dat'
    print('Outputing Data: '+ result_outputfile)
    result_file = open(result_outputfile,'w')
    PetscBinaryIO.PetscBinaryIO().writeMatSciPy(result_file, tl1data)
except:
    print("\n\nException in saving the result, error: %s"% sys.exc_info()[0])

Outputing Data: ./bmw_uniq_cmpl_zsc_data.dat

## write labels to file(they are sorted with desc order of minority class size)

In [261]:
tl1_lbl = sparse.csr_matrix(train_lbls[0])
print(type(tl1_lbl))

<class 'scipy.sparse.csr.csr_matrix'>

In [262]:
try:
    result_outputfile = file_path+ file_name + '_label.dat'
    print('Outputing Label: '+ result_outputfile)
    result_file = open(result_outputfile,'w')
    PetscBinaryIO.PetscBinaryIO().writeMatSciPy(result_file, tl1_lbl)
except:
    print("\n\nException in saving the result, error: %s"% sys.exc_info()[0])

Outputing Label: ./bmw_uniq_cmpl_label.dat